@{
    ViewData["Title"] = "Dashboard Pelatih";
    Layout = "_Layout";
}


    <div class="pagetitle">
        <h1>Kelas Saya</h1>
    </div><!-- End Page Title -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

        <body1>

            <style>
                .swiper-slide.card1 {
                    margin-right: 20px; /* Ganti nilai ini sesuai kebutuhan jarak yang diinginkan */
                    max-height: 400px;
                }

                    .swiper-slide.card1 .card1-content {
                        height: 100%;
                    }

                    .swiper-slide.card1 .image img {
                        max-height: 100%;
                    }
            </style>

            <section1>
                <div class="pagetitle" style="margin-left: 50px;">
                    <p>Teknik Informasi</p>
                </div>

                <div class="swiper mySwiper Swiper1 container" id="swiper1">
                    <div class="swiper-wrapper content">

                        <div class="swiper-slide card1" id="card1_1">
                            <div class="box2"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b2">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card1_2">
                            <div class="box2"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b2">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card1_3">
                            <div class="box2"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b2">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card1_4">
                            <div class="box2"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b2">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <!-- Tambahkan id untuk elemen-elemen lainnya -->

                    </div>
                    
                    <div class="swiper-pagination swiper-pagination1"></div>
                </div>
                <div class="swiper-button-next swiper-button-next1"></div>
                <div class="swiper-button-prev swiper-button-prev1"></div>
                

            </section1>

            <section1>
                <div class="pagetitle" style="margin-left: 50px;">
                    <p>Teknik Elektro</p>
                </div>

                <div class="swiper mySwiper Swiper2 container" id="swiper2">

                    <div class="swiper-wrapper content">

                        <div class="swiper-slide card1" id="card2_1">
                            <div class="box3"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b3">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card2_2">
                            <div class="box3"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b3">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card2_3">
                            <div class="box3"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b3">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card2_4">
                            <div class="box3"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b3">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide card1" id="card2_5">
                            <div class="box3"></div>
                            <div class="card1-content">
                                <div class="image">
                                    <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                                </div>
                                <div class="name-profession">
                                    <span class="name">Andrew James</span>
                                    <span class="profession">Graphic Designer</span>
                                </div>
                                <div class="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                                </div>
                                <div class="button b3">
                                    <button class="aboutMe">About Me</button>
                                    <button class="hireMe">Hire Me</button>
                                </div>
                            </div>
                        </div>

                        <!-- Tambahkan id untuk elemen-elemen lainnya -->

                    </div>
                    
                    <div class="swiper-pagination swiper-pagination2"></div>
                </div>

                <div class="swiper-button-next swiper-button-next2"></div>
                <div class="swiper-button-prev swiper-button-prev2"></div>
            </section1>

            <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var swiper1 = new Swiper("#swiper1", {
                        slidesPerView: 3,
                        spaceBetween: 10,
                        grabCursor: true,
                        slidesPerGroup: 1,
                        loop: false,
                        loopFillGroupWithBlank: true,
                        pagination: {
                            el: ".swiper-pagination1",
                            clickable: true,
                        },
                        navigation: {
                            nextEl: ".swiper-button-next1",
                            prevEl: ".swiper-button-prev1",
                        },
                        controller: {
                            control: "#swiper1",
                        },
                    });

                    var swiper2 = new Swiper("#swiper2", {
                        slidesPerView: 3,
                        spaceBetween: 10,
                        grabCursor: true,
                        slidesPerGroup: 1,
                        loop: false,
                        loopFillGroupWithBlank: true,
                        pagination: {
                            el: ".swiper-pagination2",
                            clickable: true,
                        },
                        navigation: {
                            nextEl: ".swiper-button-next2",
                            prevEl: ".swiper-button-prev2",
                        },
                    });
                });
            </script>



            <style>
                .swiper-container {
                    position: relative;
                }

                .swiper-button-next1,
                .swiper-button-prev1 {
                    position: absolute;
                    top: 65%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    z-index: 1;
                }

                .swiper-button-prev1 {
                    left: 50px;
                }

                .swiper-button-next1 {
                    right: 50px;
                }

                .swiper-container {
                    position: relative;
                }

                .swiper-button-next2,
                .swiper-button-prev2 {
                    position: absolute;
                    top: 70%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    z-index: 1;
                }

                .swiper-button-prev2 {
                    left: 50px;
                }

                .swiper-button-next2 {
                    right: 50px;
                }
            </style>

        </body1>