@{
    ViewData["Title"] = "Dashboard Pelatih";
    Layout = "_Layout";
}


    <div class="pagetitle">
        <h1>Kelas Saya</h1>
    </div><!-- End Page Title -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <body1>
        <section1>
            <div class="pagetitle">
                <p>Teknik Informasi</p>
            </div><!-- End Page Title -->

            <div class="swiper mySwiper mySwiper1 container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide card1">
                        <div class="box2"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b2">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box2"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b2">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                     <div class="swiper-slide card1">
                        <div class="box2"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b2">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box2"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b2">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box2"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b2">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next swiper-button-next1"></div>
                <div class="swiper-button-prev swiper-button-prev1"></div>
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>

        </section1>

        <section1>
            <div class="pagetitle">
                <p>Teknik Elektro</p>
            </div><!-- End Page Title -->

            <div class="swiper mySwiper mySwiper2 container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide card1">
                        <div class="box3"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b3">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box3"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b3">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box3"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b3">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card1">
                        <div class="box3"></div>
                        <div class="card1-content">
                            <div class="image">
                                <img src="~/assets1/img/Logo_AstraLearn.png" alt="">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Andrew James</span>
                                <span class="profession">Graphic Designer</span>
                            </div>
                            <div class="about">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis sequi, nam tenetur magni.</p>
                            </div>
                            <div class="button b3">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next swiper-button-next2"></div>
                <div class="swiper-button-prev swiper-button-prev2"></div>
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>
        

        </section1>

        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var swiper1 = new Swiper(".mySwiper1", {
                    slidesPerView: 3,
                    spaceBetween: 10,
                    grabCursor: true,
                    slidesPerGroup: 1,
                    loop: false,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination1",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next1",
                        prevEl: ".swiper-button-prev1",
                    },
                    // Other Swiper options for Teknik Informasi
                });

                var swiper2 = new Swiper(".mySwiper2", {
                    slidesPerView: 3,
                    spaceBetween: 10,
                    grabCursor: true,
                    slidesPerGroup: 1,
                    loop: false,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination2",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next2",
                        prevEl: ".swiper-button-prev2",
                    },
                    // Other Swiper options for Teknik Elektro
                });
            });
        </script>

    </body1>