@{
    ViewData["Title"] = "Pelatih - Pelatihan";
    Layout = "_Layout";
}

<div class="pagetitle">
    <h1>Section</h1>
    <h4>@(ViewBag.namaPelatihan)</h4>
    <input type="hidden" id="idPelatihan" value="@ViewBag.idSection" />
</div>


<section class="section">
    <div class="container-fluid">
        <button class="btn btn-sm btn-primary mb-3" data-toggle="modal" data-target="#tambah_section">
            <i class="fas fa-plus fa-sm"></i>Tambah Section
        </button>
        <!-- Table with stripped rows -->
        <div class="table-responsive">
            <table class="table table-striped" style="width:100%" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Section</th>
                        <th scope="col">Video Pembelajaran</th>
                        <th scope="col">Modul Pembelajaran</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <!-- Add Section Modal -->
    <div class="modal fade" id="tambah_section" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">FORM TAMBAH SECTION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="myForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label" for="NamaSection">Nama Section</label>
                            <input id="NamaSection" name="NamaSection" class="form-control" />
                            <span class="text-danger" id="errorNamaSection"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="DeskripsiSection">Deskripsi Section</label>
                            <input id="DeskripsiSection" name="DeskripsiSection" class="form-control" />
                            <span class="text-danger" id="errorDeskripsiSection"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="VidioPembelajaran">Vidio Pembelajaran</label>
                            <input id="VidioPembelajaran" name="VidioPembelajaran" class="form-control" />
                            <span class="text-danger" id="errorVidioPembelajaran"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="ModulPembelajaran">Modul Pembelajaran</label>
                            <input type="file" id="ModulPembelajaran" name="ModulPembelajaran" class="form-control" />
                            <span class="text-danger" id="errorModulPembelajaran"></span>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" value="Tambah" id="buttonCreate" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Section Modal -->
    <div class="modal fade" id="edit_section" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">FORM EDIT SECTION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label" for="EditNamaSection">Nama Section</label>
                            <input id="EditNamaSection" name="EditNamaSection" class="form-control" />
                            <span class="text-danger" id="errorEditNamaSection"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="EditDeskripsiSection">Deskripsi Section</label>
                            <input id="EditDeskripsiSection" name="EditDeskripsiSection" class="form-control" />
                            <span class="text-danger" id="errorEditDeskripsiSection"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="EditVidioPembelajaran">Vidio Pembelajaran</label>
                            <input id="EditVidioPembelajaran" name="EditVidioPembelajaran" class="form-control" />
                            <span class="text-danger" id="errorEditVidioPembelajaran"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="EditModulPembelajaran">Modul Pembelajaran</label>
                            <input type="file" id="EditModulPembelajaran" name="EditModulPembelajaran" class="form-control" />
                            <span class="text-danger" id="errorEditModulPembelajaran"></span>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" value="Ubah" id="buttonUpdate" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .section {
        min-height: 78vh;
        display: flex;
        flex-direction: column;
    }

    .container-fluid {
        flex: 1;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var rootHost = "http://localhost:5180";
        var rootWebHost = "https://localhost:7157/Exercise/"
        var pelatihanId;
        var IdPelatihan = $("#idPelatihan").val();

        new DataTable('#dataTable', {
            ajax: {
                url: rootHost + '/Section/GetAllSectionsById?id=' + IdPelatihan,
                type: "GET",
                dataSrc: function (data) {
                    return data.data;
                }
            },
            columns: [
                { data: null },
                { data: 'nama_section' },
                { data: 'video_pembelajaran' },
                { data: 'modul_pembelajaran' },
                { data: 'deskripsi' },
                { data: null },
            ],
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row, index) {
                        return index.row + 1;
                    }
                },
                {
                    targets: 5,
                    render: function (data, type, row, index) {
                        const deleteButton = '<button class="btn btn-sm btn-danger delete-button"><i class="bi bi-trash"></i></button>';
                        const editButton = '<button class="btn btn-primary btn-sm edit-button" data-toggle="modal" data-target="#edit_pelatihan" data-id="' + row.id_pelatihan + '"><i class="bi bi-exclamation-triangle"></i></button>';
                        const updateHrefButton = '<button class="btn btn-primary btn-sm update-href-button" data-id="' + row.id_section + '"><i class="bi bi-exclamation-triangle"></i> Soal</button>';
                        return editButton + " " + deleteButton + " " + updateHrefButton;
                    }
                }
            ],
            createdRow: function (row, data, dataIndex) {
                $(row).attr('data-id', data.id_pelatihan);
                $(row).attr('data-type', 'pelatihan');
            }
        });

        $('#dataTable').on('click', 'button.update-href-button', function () {
            var nama = $(this).closest('tr').find('td:eq(1)').text();
            var id = $(this).data('id');
            updateHref(nama, id);
        });

        function updateHref(nama, id) {
            var newHref = rootWebHost + nama + '/' + id;
            window.location.href = newHref;
        }

        function tambahSection() {
            var namaSection = $("#NamaSection").val();
            var deskripsi = $("#DeskripsiSection").val();
            var vidio = $("#VidioPembelajaran").val();
            var modul = $("#ModulPembelajaran").val();
            if (!namaSection.trim()) {
                $("#errorNamaSection").text("Nama Section tidak boleh kosong.");
                return;
            } else {
                $("#errorNamaSection").text("");
            }

            if (!deskripsi.trim()) {
                $("#errorDeskripsiSection").text("Deskripsi PelatihanSection tidak boleh kosong.");
                return;
            } else {
                $("#errorDeskripsiSection").text("");
            }

            var data = {
                id_section: 0,
                id_pelatihan: IdPelatihan,
                nama_section: namaSection,
                video_pembelajaran: vidio,
                modul_pembelajaran: 'a',
                deskripsi: deskripsi,
                isi_modul: $("#ModulPembelajaran")[0].files[0]
            };

            console.log(data);

            $.ajax({
                url: rootHost + '/Section/InsertSection',
                method: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    notifikasiTambahSukses();
                },
                error: function () {

                }
            });
        }

        $("#myForm").submit(function (e) {
            e.preventDefault();
            tambahSection();
        });

        function hapusPelatihan() {
            $.ajax({
                url: rootHost + '/Pelatihan/DeletePelatihan?id=' + pelatihanId,
                type: "POST",
                success: function (data) {
                    notifikasiHapusSukses();
                },
                error: function () {
                    Swal.fire("Error!", "Terjadi kesalahan.", "error");
                }
            });
        }

        $(document).on("click", ".delete-button", function () {
            pelatihanId = $(this).closest('tr').data("id");

            Swal.fire({
                title: "Hapus Pelatihan?",
                text: "Apakah anda ingin menghapus pelatihan ini?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Ya",
                cancelButtonText: "Tidak"
            }).then((result) => {
                if (result.isConfirmed) {
                    hapusPelatihan();
                }
            });
        });

        $('#dataTable').on('click', 'button.edit-button', function () {
            pelatihanId = $(this).data('id');
            $.ajax({
                url: rootHost + '/Pelatihan/GetPelatihan?id=' + pelatihanId,
                type: 'GET',
                success: function (response) {
                    if (response && response.data) {
                        var data = response.data;

                        $('#edit_klasifikasi').modal('show');
                        $('#EditNamaPelatihan').val(data.nama_pelatihan);
                        $('#EditDeskripsiPelatihan').val(data.deskripsi_pelatihan);
                        loadKlasifikasi2(data.id_klasifikasi);
                    } else {
                        console.error("Invalid response format:", response);
                        Swal.fire('Error!', 'Terjadi kesalahan dalam format respons.', 'error');
                    }
                },

                error: function () {
                    Swal.fire('Error!', 'Terjadi kesalahan.', 'error');
                }
            });
        });

        function loadKlasifikasi2(a) {
            $.ajax({
                url: rootHost + '/KlasifikasiPelatihan/GetAllKlasifikasiPelatihan',
                method: 'get',
                contentType: 'application/json',
                success: function (response) {
                    if (response.status === 200 && response.data) {
                        var klasifikasiData = response.data;

                        // Clear existing options in the dropdown
                        $('#EditKlasifikasiPelatihan').empty();

                        // Append options to the dropdown
                        klasifikasiData.forEach(function (item) {
                            var option = $('<option>', {
                                value: item.id_klasifikasi,
                                text: item.nama_klasifikasi
                            });

                            // Set the selected attribute for the matching ID
                            if (item.id_klasifikasi === a) {
                                option.attr('selected', 'selected');
                            }

                            $('#EditKlasifikasiPelatihan').append(option);
                        });
                    } else {
                        console.error("Invalid response format:", response);
                    }
                },
                error: function () {
                    console.error("Failed to load classification data.");
                }
            });
        }

        function ubahKlasifikasi() {
            var namaPelatihan = $("#EditNamaPelatihan").val();
            var deskripsiPelatihan = $("#EditDeskripsiPelatihan").val();
            var klasifikasiPelatihan = $("#EditKlasifikasiPelatihan").val();
            if (!namaPelatihan.trim()) {
                $("#errorEditNamaPelatihan").text("Nama Pelatihan tidak boleh kosong.");
                return;
            } else {
                $("#errorEditNamaPelatihan").text("");
            }

            if (!deskripsiPelatihan.trim()) {
                $("#errorEditDeskripsiPelatihan").text("Deskripsi Pelatihan tidak boleh kosong.");
                return;
            } else {
                $("#errorEditDeskripsiPelatihan").text("");
            }

            var data = {
                id_pelatihan: pelatihanId,
                id_pengguna: 1,
                id_klasifikasi: klasifikasiPelatihan,
                nama_pelatihan: namaPelatihan,
                deskripsi_pelatihan: deskripsiPelatihan,
                jumlah_pelatihan: 0,
                nama_klasifikasi: namaPelatihan
            };

            console.log(data);

            $.ajax({
                url: rootHost + '/Pelatihan/UpdatePelatihan',
                method: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    notifikasiUpdateSukses();
                },
                error: function () {

                }
            });
        }

        $("#editForm").submit(function (e) {
            e.preventDefault();
            ubahKlasifikasi();
        });


        function notifikasiTambahSukses() {
            Swal.fire({
                title: "Sukses!",
                text: "Data Pelatihan berhasil ditambahkan.",
                icon: "success",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            }).then(() => {
                location.reload();
            });
        }

        function notifikasiUpdateSukses() {
            Swal.fire({
                title: "Sukses!",
                text: "Data Klasifikasi Pelatihan berhasil diubah.",
                icon: "success",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            }).then(() => {
                location.reload();
            });
        }

        function notifikasiHapusSukses() {
            Swal.fire({
                title: "Sukses!",
                text: "Data Klasifikasi Pelatihan berhasil dihapus.",
                icon: "success",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            }).then(() => {
                location.reload();
            });
        }

        $('#edit_klasifikasi .close').on('click', function () {
            $('#edit_klasifikasi').modal('hide');
        });
    });
</script>
