@{
    ViewData["Title"] = "Admin - Pelatihan";
    Layout = "_Layout";
}


        <div class="pagetitle">
            <h1>Data Pelatihan</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Data Pelatihan</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <section class="section">
            <div class="row">
                
            </div>
        </section>