@{
    ViewData["Title"] = "Peserta - Sertifikat";
    Layout = "_Layout";
}


        <div class="pagetitle">
            <h1>List Sertifikat</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Sertifikat</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                
            </div>
        </section>